/* common */

body, h1, h2, h3, h4, h5, h6, h7, div, span, ul, li, ol, label, table, td, th, tr, p, img {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  border: none;
}

#header .app {
  height: 50px;
  padding-left: 0px;
  padding-top: 0px;
}

#header .app h1 {
  float: left;
  margin-left: 0px;
  margin-top: -10px;
  width: 20em;
  font-family: Arial, sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
  /*color       : $primary;*/
  color: #999;
  letter-spacing: 0.2em;
}

#page {
  width: 98%;
}
#page {
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#topmenu {
  line-height: 0;
  margin: 0.9em 0 0;
  background: url("images/menu-top-left.png") no-repeat;
  height: 2em;
}

#topmenu, #topmenu * {
  font-family: Arial, sans-serif;
}

#topmenu .prolog {
  background: url("images/menu-top-right.png") no-repeat 100% 0;
  height: 1em;
  width: 100%;
  margin-bottom: -1em;
  padding-top: 1px;
}

#topmenu ul {
  background: url("./images/menu-bottom-back.png") repeat-x 0 100%;
  margin: 0;
  padding: 0;
  display: block;
  height: 2em;
}

#topmenu ul li {
  background: url("./images/menu-separator.png") no-repeat 0 100%;
  margin: 0;
  padding: 0 0.7em 0 0.7em;
  display: inline-block;
  height: 2.5em;
}

#topmenu ul li.first {
  background: url("./images/menu-bottom-left.png") no-repeat 0 100%;
  padding: 0;
}

#topmenu ul li.last {
  background: url("./images/menu-bottom-right.png") no-repeat 100% 100%;
  padding: 0 0.7em 0 1em;
  display: block;
  text-align: right;
  margin-top: -2.5em;
}

#topmenu ul li .tx_btn_cont {
  display: inline-block;
  position: relative;
  top: 1em;
  height: 1.5em;
  /*margin-bottom : -1em;*/
}

#topmenu ul li.selected .tx_btn_cont {
  color: white;
}

.tx_btn_cont:hover, .tx_btn:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #3C74A7;
}

.web_btn {
  margin: 5px;
}

li {
  list-style-type: none;
  font-size: 0.75em;
}

a, a:link, a:visited {
  color: #466ca1;
  text-decoration: none;
  background: url(images/a-underline.png) transparent repeat-x 0 100%;
}

* html a, * html a:link, * html a:visited {
  background: none;
  text-decoration: underline;
}

a:hover {
  background: none;
}

* html a:hover {
  text-decoration: none;
}

.site_main_panel {
  margin: 0.5em 0 0 0;
  width: 100%;
  height: 100%;
}

.site_main_panel h5 {
  font-size: 0.8em;
}
.site_main_panel h3, h5 {
  color: #777;
  line-height: 1em;
  padding: 0.5em 1em 0.5em 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  font-family: Arial, sans-serif;
}

/* Auth */


#authpage {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 300px;
}

.auth_form .label {
  font-weight: bold;
  color: #777;
  padding: 1.2em 0.5em;
  text-align: right;
  width: 40%;
}

.spanel h3 {
  font-size: 0.75em;
  font-weight: bold;
  padding: 1em 0.5em;
  margin: 0;
  border: 1px solid #2694e8;
  background: #3C74A7;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.spanel_content {
  padding: 1em;
  font-size: 0.7em;
  border: 1px solid #ddd;
  background: #f2f5f7;
  color: #362b36;
}




/* conditions */


@-webkit-keyframes blink-caret {
  from, to { background: black; }
  50% { background: none; }
}
@keyframes blink-caret {
  from, to { background: black; }
  50% { background: none; }
}

.editor-block{
  display: inline-block;
  position: relative;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  margin: 3px 0;
  vertical-align: middle;
  height: 24px;
}

.delete-block{
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: -1;
}
.editor-block:hover .delete-block{
  opacity: 1;
  z-index: 1;
  top: 100%;
  transition-duration: 200ms;
  padding-top: 3px;
}
.delete-block .fa{
  background: dimgrey;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 12px;
}
.delete-block .fa:hover{
  background: black;
}

.editor-block-location{
  background: #66aeb5;
}
.editor-block-and{
  background: #58b152;
}
.editor-block-or{
  background: #5285b1;
}
.editor-block-ne{
  background: #d65959;
}
.editor-block-left_bracket,
.editor-block-right_bracket{
  color: black;
  font-size: 18px;
  background: #dddddd;
}
.editor-block-device_model{
  background: #9982b3;
}
.editor-block-device_type{
  background: #82b386;
}
.editor-block-device_brand{
  background: #b39682;
}
.editor-block-schedule{
  background: #85AC5D;
}
.editor-block-rat{
  background: #5d81ac;
}
.editor-block-apn{
  background: #9e5c6b;
}

.editor-block input{
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  margin-left: 7px;
  width: 100px;
  height: auto;
}

.editor-block select{
  height: auto;
}

.caret{
  width: 9px;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}
.caret input{
  display: none;
}
.caret input:checked ~ div{
  display: block;
  width: 1px;
  height: 100%;
  margin-left: 4px;
  animation: blink-caret .75s step-end infinite;
}

.editor-panel{
  background: white;
  min-width: 100px;
  min-height: 150px;
  border: 1px solid #ddd;
  padding: 4px 8px;
}

.editor-panel:focus,
.editor-panel.focus{
  outline: 1px solid #9fc6ff;
}

.editor-add-buttons li{
  display: inline-block;
}
.editor-add-buttons div{
  background: #5e90c1;
  color: white;
  cursor: pointer;
  margin: 3px;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 14px;
}
.editor-add-buttons div:hover{
  background: #256097;
}

.disabled-empty-text:disabled{
  color: transparent;
}